.biografia {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 70vh;
    margin-bottom: 80px;
    width: 100%;
}

.biografia_img {
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.5s ease-in;
    width: 50%;
}

.biografia_textos {
    box-sizing: border-box;
    background-color: #30344F;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: end;
    padding: 40px;
    width: 50%;
}

.biografia_nombre{

}

.biografia_sobremi {
    width: 70%;
}