/*botones*/

button {
    align-self: flex-end;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    padding: 12px 8px;
    transition: all 0.3s;
}

button:hover {
    box-shadow: 2px 2px 5px rgba(20,20,20,0.5);
}

.button_secondary {
    border: solid 1px #1f4672;
    color: #1f4672;
}

.button_primary {
    background-color: #61A510;
    border: none;
    color: #fff;
    text-align: center;
    transition: all 0.3s;
    width: max-content;
    
}

.button_ghost {
    border: none;
    color: #333;
}